<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sumin.knowledgearchive.material.MaterialMapper">
    <select id="selectAllMaterial" resultType="com.sumin.knowledgearchive.material.MaterialDomain">
        SELECT
            id
            ,title
            ,memo
            ,url
            ,created_at
            ,updated_at
            ,user_id
        FROM
            "MATERIAL"
    </select>

    <insert id="createMaterial" parameterType="com.sumin.knowledgearchive.material.MaterialDomain">
        INSERT INTO "MATERIAL"
            (
            title
            ,memo
            ,url
            ,user_id
            )
        VALUES
            (
            #{title}
            ,#{memo}
            ,#{url}
            ,#{userId}
            )
    </insert>
</mapper>