<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sumin.knowledgearchive.material.MaterialMapper">
    <resultMap id="materialResultMap" type="com.sumin.knowledgearchive.material.MaterialDomain">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="memo" column="memo"/>
        <result property="url" column="url"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="userId" column="user_id"/>

        <collection property="tags" ofType="com.sumin.knowledgearchive.tag.TagDomain">
            <id property="id" column="tag_id"/>
            <result property="name" column="tag_name"/>
            <result property="createdAt" column="created_at"/>
            <result property="updatedAt" column="updated_at"/>
        </collection>
    </resultMap>

    <select id="selectMaterials" parameterType="String" resultMap="materialResultMap">
        SELECT
            m.id
            ,m.title
            ,m.memo
            ,m.url
            ,t.id AS tag_id
            ,t.name AS tag_name
            ,m.created_at
            ,m.updated_at
            ,m.user_id
        FROM "MATERIAL" m
        LEFT JOIN "MATERIAL_TAG" mt
            ON m.id = mt.material_id
        LEFT JOIN "TAG" t
            ON t.id = mt.tag_id
        <where>
            m.user_id = #{userId}
            <if test="title != null and title != ''">
                AND title LIKE '%' || #{title} || '%'
            </if>
        </where>
    </select>

    <select id="selectMaterialsByTag" resultMap="materialResultMap">
        SELECT
        m.id
        ,m.title
        ,m.memo
        ,m.url
        ,t.id AS tag_id
        ,t.name AS tag_name
        ,m.created_at
        ,m.updated_at
        ,m.user_id
        FROM "MATERIAL" m
        LEFT JOIN "MATERIAL_TAG" mt
        ON m.id = mt.material_id
        LEFT JOIN "TAG" t
        ON t.id = mt.tag_id
        <where>
            m.user_id = #{userId}
            <if test="tags != null and tags.size() > 0">
                AND EXISTS (
                    SELECT 1
                    FROM "MATERIAL_TAG" mt2
                    INNER JOIN "TAG" t2
                        ON t2.id = mt2.tag_id
                    WHERE mt2.material_id = m.id
                    AND (
                        <foreach collection="tags" item="tag" separator=" OR ">
                            t2.name LIKE '%' || #{tag} || '%'
                        </foreach>
                    )
                )
            </if>
        </where>
    </select>

    <insert id="insertMaterial" parameterType="com.sumin.knowledgearchive.material.MaterialDomain"
            useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO "MATERIAL"
            (
            title
            ,memo
            ,url
            ,user_id
            )
        VALUES
            (
            #{title}
            ,#{memo}
            ,#{url}
            ,#{userId}
            )
    </insert>

    <select id="selectMaterialById" parameterType="int" resultMap="materialResultMap">
        SELECT
            m.id
            ,m.title
            ,m.memo
            ,m.url
            ,t.id AS tag_id
            ,t.name AS tag_name
            ,m.created_at
            ,m.updated_at
            ,m.user_id
        FROM "MATERIAL" m
        LEFT JOIN "MATERIAL_TAG" mt
            ON m.id = mt.material_id
        LEFT JOIN "TAG" t
            ON t.id = mt.tag_id
        WHERE m.id = #{id}
            AND m.user_id = #{userId}
    </select>

    <update id="updateMaterial" parameterType="com.sumin.knowledgearchive.material.MaterialDomain">
        UPDATE
            "MATERIAL"
        SET
            title = #{title}
            , memo = #{memo}
            , url = #{url}
            , updated_at = CURRENT_TIMESTAMP
        WHERE id= #{id}
    </update>

    <delete id="deleteMaterial" parameterType="int">
        DELETE
            FROM "MATERIAL"
        WHERE id = #{id}
    </delete>

    <insert id="insertMaterialTag" parameterType="int">
        INSERT INTO "MATERIAL_TAG"
        (
        material_id
        ,tag_id
        )
        VALUES
        (
        #{materialId}
        ,#{tagId}
        )
    </insert>

    <delete id="deleteMaterialTag" parameterType="int">
        DELETE FROM "MATERIAL_TAG"
        WHERE material_id = #{materialId}
    </delete>
</mapper>