<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sumin.knowledgearchive.edge.EdgeMapper">
    <select id="selectEdge" parameterType="int" resultType="com.sumin.knowledgearchive.edge.EdgeDomain">
        SELECT
            id
            ,source_id
            ,target_id
            ,name
        FROM "EDGE" e
        WHERE mindmap_id = #{mindmapId}
    </select>

    <insert id="insertEdge" parameterType="com.sumin.knowledgearchive.edge.EdgeDomain"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO "EDGE"
            (
            mindmap_id
            ,source_id
            ,target_id
            )
        VALUES
            (
            #{mindmapId}
            ,#{sourceId}
            ,#{targetId}
            )
    </insert>

    <delete id="deleteEdge" parameterType="int">
        DELETE FROM "EDGE"
        WHERE id = #{id}
    </delete>

    <update id="updateEdge" parameterType="com.sumin.knowledgearchive.edge.EdgeDomain">
        UPDATE "EDGE"
        SET name = #{name}
        WHERE id = #{id}
    </update>
</mapper>