<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sumin.knowledgearchive.mindmap.MindmapMapper">
    <resultMap id="mindmapMaterialResultMap"
               type="com.sumin.knowledgearchive.mindmap.MindmapMaterialDomain">

        <result property="id" column="id"/>
        <result property="materialId" column="material_id"/>
        <result property="title" column="title"/>
        <result property="coordX" column="coord_x"/>
        <result property="coordY" column="coord_y"/>

        <result property="style"
                column="style"
                typeHandler="com.sumin.knowledgearchive.common.mybatis.JsonNodeTypeHandler"/>
    </resultMap>

    <select id="selectMindmap" resultType="com.sumin.knowledgearchive.mindmap.MindmapDomain">
        SELECT
            id
        , "name"
        , user_id
        , created_at
        , updated_at
        FROM "MINDMAP"
        WHERE user_id = #{userId}
    <if test="name != null">
        AND name = #{name}
    </if>
    </select>

    <select id="selectMindmapById" parameterType="int" resultType="com.sumin.knowledgearchive.mindmap.MindmapMaterialDomain">
        SELECT
            mim.id as id
            ,mim.mindmap_id
            ,mim.material_id
            ,m.title
        FROM "MATERIAL" m
        JOIN "MINDMAP_MATERIAL" mim
        ON m.id = mim.material_id
        WHERE mim.mindmap_id = #{mindmapId}
    </select>

    <select id="selectNodeDataById" parameterType="int" resultMap="mindmapMaterialResultMap">
        SELECT
            mim.id as id
            ,mim.mindmap_id
            ,m.id as material_id
            ,m.title
            ,mim.coord_x
            ,mim.coord_y
            ,mim.style
        FROM
        "MATERIAL" m
        JOIN "MINDMAP_MATERIAL" mim
        ON m.id = mim.material_id
        WHERE mim.mindmap_id = #{mindmapId}
    </select>

    <select id="selectNodeMemoById" parameterType="int" resultType="String">
        SELECT
            memo
        FROM
            "MINDMAP_MATERIAL"
        WHERE
            id = #{id}
    </select>

    <update id="updateNodeMemo" parameterType="com.sumin.knowledgearchive.mindmap.MindmapMaterialDomain">
        UPDATE "MINDMAP_MATERIAL"
        SET memo = #{memo}
        WHERE id = #{id}
    </update>

    <update id="updateNodeStyle" parameterType="com.sumin.knowledgearchive.mindmap.MindmapMaterialDomain">
        UPDATE "MINDMAP_MATERIAL"
        SET style = #{style, typeHandler=com.sumin.knowledgearchive.common.mybatis.JsonNodeTypeHandler}
        WHERE id = #{id}
    </update>

    <insert id="insertMindmap" parameterType="com.sumin.knowledgearchive.mindmap.MindmapDomain">
        INSERT INTO "MINDMAP"
            ("name"
            , user_id)
        VALUES(
            #{name}
            ,#{userId}
            )
    </insert>

    <delete id="deleteMindmap" parameterType="int">
        DELETE FROM "MINDMAP"
        WHERE id = #{id}
    </delete>

    <select id="selectMaterialsForNewNode" resultType="com.sumin.knowledgearchive.mindmap.MindmapMaterialDomain">
        SELECT
            m.id as material_id
            ,m.title
        FROM "MATERIAL" m
        LEFT JOIN "MINDMAP_MATERIAL" mim
        ON m.id = mim.material_id
        WHERE 
            mim.mindmap_id IS DISTINCT FROM #{mindmapId}
        <if test="title != null and title != ''">
            AND m.title ILIKE '%' || #{title} || '%'
        </if>
    </select>

    <insert id="insertMindmapMaterial" parameterType="com.sumin.knowledgearchive.mindmap.MindmapMaterialDomain">
        INSERT INTO "MINDMAP_MATERIAL"
            (
            mindmap_id
            ,material_id
            ,coord_x
            ,coord_y
            )
        VALUES
            (
            #{mindmapId}
            ,#{materialId}
        <choose>
            <when test="coordX != null and coordY != null">
            ,#{coordX}
            ,#{coordY}
            </when>
            <otherwise>
            ,0
            ,0
            </otherwise>
        </choose>
        )
    </insert>

    <delete id="deleteMindmapMaterial" parameterType="int">
        DELETE FROM "MINDMAP_MATERIAL"
        WHERE id = #{id}
    </delete>

    <update id="updateCoords" parameterType="com.sumin.knowledgearchive.mindmap.MindmapMaterialDomain">
        UPDATE "MINDMAP_MATERIAL"
        SET
            coord_x = #{coordX}
            ,coord_y = #{coordY}
        WHERE id = #{id}
    </update>
</mapper>