<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sumin.knowledgearchive.mindmap.MindmapMapper">
    <select id="selectMindmap" resultType="com.sumin.knowledgearchive.mindmap.MindmapDomain">
        SELECT
            id
        , "name"
        , user_id
        , created_at
        , updated_at
        FROM "MINDMAP"
        WHERE user_id = #{userId}
    <if test="name != null">
        AND name = #{name}
    </if>
    </select>

    <select id="selectMindmapById" parameterType="int" resultType="com.sumin.knowledgearchive.material.MaterialDomain">
        SELECT
            mim.mindmap_id
            ,m.id
            ,m.title
        FROM
        "MATERIAL" m
        JOIN "MINDMAP_MATERIAL" mim
        ON m.id = mim.material_id
        WHERE mim.mindmap_id = #{id}
    </select>

    <insert id="insertMindmap" parameterType="com.sumin.knowledgearchive.mindmap.MindmapDomain">
        INSERT INTO "MINDMAP"
            ("name"
            , user_id)
        VALUES(
            #{name}
            ,#{userId}
            )
    </insert>

    <delete id="deleteMindmap" parameterType="int">
        DELETE FROM "MINDMAP"
        WHERE id = #{id}
    </delete>

    <insert id="insertMindmapMaterial" parameterType="int">
        INSERT "MINDMAP_MATERIAL"
            (
            mindmap_id
            ,material_id
            )
        VALUES
            (
            #{mindmapId}
            ,#{materialId}
            )
    </insert>

    <delete id="deleteMindmapMaterial" parameterType="int">
        DELETE FROM "MINDMAP_MATERIAL"
        WHERE id = #{id}
    </delete>
</mapper>